<a href="https://colab.research.google.com/github/mostafa-khairy/Scraping-Covid-19-data-from-Worldometer/blob/main/Scraping_Covid_19_data_from_Worldometer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [277]:
import requests 
from bs4 import BeautifulSoup 

import pandas as pd 
import numpy as np

In [278]:
url = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)
#response.status_code

200

In [279]:
soup = BeautifulSoup( response.content)

In [280]:
sections = soup.find_all('div',{'id':"maincounter-wrap"})
sections

#len(sections)

[<div id="maincounter-wrap" style="margin-top:15px">
 <h1>Coronavirus Cases:</h1>
 <div class="maincounter-number">
 <span style="color:#aaa">506,083,080 </span>
 </div>
 </div>, <div id="maincounter-wrap" style="margin-top:15px">
 <h1>Deaths:</h1>
 <div class="maincounter-number">
 <span>6,228,307</span>
 </div>
 </div>, <div id="maincounter-wrap" style="margin-top:15px;">
 <h1>Recovered:</h1>
 <div class="maincounter-number" style="color:#8ACA2B ">
 <span>458,212,091</span>
 </div>
 </div>]

In [281]:
first_sections = []

In [282]:
for i in range(len(sections)) :
  first_sections.append(sections[i].text.replace('\n',''))
print(first_sections)

['Coronavirus Cases:506,083,080 ', 'Deaths:6,228,307', 'Recovered:458,212,091']

In [283]:
table  = soup.find('table', {'id':"main_table_countries_today"})
#table

In [284]:
header = []

In [285]:
for i in table.find_all('th') :
  header.append(i.text.strip())

In [286]:
header

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl',
 'New Cases/1M pop',
 'New Deaths/1M pop',
 'Active Cases/1M pop']

In [287]:
len(header)

22

In [288]:
df = pd.DataFrame(columns=header)
#df

In [289]:
for row in table.find_all('tr')[1:] :
  data = row.find_all('td')
  row_data = [td.text.strip() for td in data]
  length = len(df)
  df.loc[length] = row_data

In [290]:
df.tail(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
234,227,Micronesia,1,,,,1,,0,,...,,,"117,186",Australia/Oceania,"117,186",,,,,
235,228,China,"191,112","+2,761","4,655",+7,"155,684","+2,365","30,773",116,...,"160,000,000","111,163","1,439,323,776",Asia,"7,531","309,200",9,2,,21
236,,Total:,"97,527,546","+1,438","1,453,797",+24,"93,669,936","+1,232","2,403,813","6,974",...,,,,North America,,,,,,
237,,Total:,"146,193,367","+172,253","1,417,183",+358,"124,516,804","+73,479","20,259,380","13,630",...,,,,Asia,,,,,,
238,,Total:,"56,580,290",,"1,292,382",,"52,621,348",,"2,666,560","11,010",...,,,,South America,,,,,,
239,,Total:,"187,315,956",,"1,801,280",,"170,293,848",,"15,220,828","9,203",...,,,,Europe,,,,,,
240,,Total:,"6,633,005","+48,108","10,091",+47,"6,048,226","+9,514","574,688",189,...,,,,Australia/Oceania,,,,,,
241,,Total:,"11,832,195",,"253,559",,"11,061,223",,"517,413",963,...,,,,Africa,,,,,,
242,,Total:,721,,15,,706,,0,0,...,,,,,,,,,,
243,,Total:,"506,083,080","+221,799","6,228,307",+429,"458,212,091","+351,993","41,642,682","41,969",...,,,,All,,,,,,

In [291]:
df = df.drop(df.index[:7])
df = df.drop(df.index[-8:])
df = df.drop(['1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl', 'New Cases/1M pop', 'New Deaths/1M pop', 'Active Cases/1M pop'], axis=1)

In [292]:
df.to_csv("Covid_data.csv",index=False)